<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div>
    <p>Hello User, this Spring Security example</p>
</div>
<div align="right" style="border: 5px;padding:10px;margin-bottom:20px;" class="text-white-50 bg-dark ">

    <a href="http://localhost:8080/login" class="text-white-50 bg-dark">Logout</a>

</div>
</body>
</html>